thead{background-color: #C4DAF5;}
LABEL
{
    text-transform: lowercase;
}
LABEL:first-letter
{
    text-transform: uppercase;
}
a.large-text{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}